/*
	@name iphone_14___3
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 390px; width: 390px; height: 992px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }


#page_iphone_14___3_ek1 {
	top: 0px;
	left: 0px;
	width: 390px;
	height: 992px;
}

#_bg__iphone_14___3_ek2 {
	top: 0px;
	left: 0px;
	width: 390px;
	height: 992px;
	background:rgba(255,255,255,1);
}


#rectangle_7 {
	top: 14px;
	left: 221px;
	width: 162px;
	height: 29px;
}


#image_6 {
	top: 177px;
	left: 84px;
	width: 221px;
	height: 221px;
}


#image_11 {
	top: 692px;
	left: 116px;
	width: 158px;
	height: 158px;
}

#frame_4 {
	top: 72px;
	left: 38px;
	width: 314px;
	height: 146px;
}

#ich_designe_dir_deine_traum_webseite {
	font-size: 35px;
	font-weight: 600;
	margin-bottom: 10px;
	color: transparent;
	-webkit-background-clip: text;
	text-align: center;
	background-clip: text;
	background-image: url('skins/Background.png'); /* Pfade zum gewünschten Bild angeben */
	background-size: cover;
}


#image_1 {
	top: 20px;
	left: 16px;
	width: 28px;
	height: 28px;
}


#image_2 {
	top: 18px;
	left: 49px;
	width: 31px;
	height: 32px;
}


#wenn_du_auf_der_suche_nach_einem_webdesigner_bist__der_dein_projekt_auf_eine_moderne_und_erfrischende_art_zum_leben_erweckt__dann_st_ber_gerne_durch_mein_portfolio_ {
	top: 398px;
	left: 17px;
	width: 362px;
	height: 55px;
	overflow: hidden;
	font-family: Inter;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color:#2621FF;
}


#gespr_ch_buchen {
	top: 19px;
	left: 228px;
	width: 155px;
	font-weight: 600;
	height: 30px;
	overflow: hidden;
	font-family: Inter;
	font-size: 16px;
	text-align: center;
	color:#FFFFFF;
}

#group_2 {
	top: 932px;
	left: 94px;
	font-weight: 900;
	width: 201.1px;
	height: 36px;
}

#rectangle_8 {
	top: 0px;
	left: 0px;
	width: 201.1px;
	height: 36px;
}

#group_1 {
	top: 9px;
	left: 11px;
	width: 176.28px;
	height: 17px;
}

#gespr_ch_buchen_ek1 {
	top: 0px;
	left: -3px;
	font-weight: 600;
	width: 189.28px;
	height: 28px;
	overflow: hidden;
	font-family: Inter;
	font-size: 16px;
	text-align: center;
	color:#FFFFFF;
}


#rectangle_8_ek1 {
	top: 469px;
	left: 11px;
	width: 177px;
	height: 212px;
}


#rectangle_11 {
	top: 475px;
	left: 18px;
	width: 163px;
	height: 200px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background:rgba(255,255,255,1);
}


#rectangle_9 {
	top: 469px;
	left: 201px;
	width: 177px;
	height: 212px;
}


#rectangle_10 {
	top: 475px;
	left: 208px;
	width: 163px;
	height: 200px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background:rgba(255,255,255,1);
}


#image_12 {
	top: 469px;
	left: 49px;
	width: 100px;
	height: 100px;
}


#von_anfang_an_h_ren_wir_aufmerksam_zu__um_ihre_vorstellungen_und_ziele_f_r_ihr_webprojekt_vollst_ndig_zu_verstehen__nur_so_k_nnen_wir_eine_ma_geschneiderte_l_sung_entwickeln__die_genau_auf_ihre_bed_rfnisse_zugeschnitten_ist_ {
	top: 553px;
	left: 26px;
	width: 154px;
	height: 114px;
	overflow: hidden;
	font-family: Inter;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	color:#000000;
}


#bei_uns_legen_wir_gro_en_wert_auf_eine_z_gige_und_p_nktliche_lieferung_ihrer_bestellungen__wir_verstehen__dass_zeit_ein_wertvolles_gut_ist_und_dass_sie_ihre_produkte_so_schnell_wie_m_glich_erhalten_m_chten_ {
	top: 555px;
	left: 215px;
	width: 156px;
	height: 107px;
	overflow: hidden;
	font-family: Inter;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	color:#000000;
}


#image_13 {
	top: 470px;
	left: 233px;
	width: 114px;
	height: 95px;
}


#lassen_sie_uns_gemeinsam_an_ihrem_webprojekt_arbeiten_und_eine_erfolgreiche_online_pr_senz_aufbauen__wir_freuen_uns_darauf__mit_ihnen_zusammenzuarbeiten_und_ihre_ideen_zum_leben_zu_erwecken_ {
	top: 826px;
	left: 23px;
	width: 350px;
	height: 128px;
	overflow: hidden;
	font-family: Inter;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color:#000000;
}


#image_10 {
	top: 692px;
	left: 116px;
	width: 158px;
	height: 158px;
}


#rectangle_8_ek2 {
	top: 1135px;
	left: 1424px;
	width: 177px;
	height: 212px;
}


#rectangle_7_ek1 {
	top: 1141px;
	left: 1431px;
	width: 163px;
	height: 200px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background:rgba(255,255,255,1);
}


#rectangle_9_ek1 {
	top: 1135px;
	left: 1614px;
	width: 177px;
	height: 212px;
}


#rectangle_10_ek1 {
	top: 1141px;
	left: 1621px;
	width: 163px;
	height: 200px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background:rgba(255,255,255,1);
}


#image_12_ek1 {
	top: 1135px;
	left: 1462px;
	width: 100px;
	height: 100px;
}


#von_anfang_an_h_ren_wir_aufmerksam_zu__um_ihre_vorstellungen_und_ziele_f_r_ihr_webprojekt_vollst_ndig_zu_verstehen__nur_so_k_nnen_wir_eine_ma_geschneiderte_l_sung_entwickeln__die_genau_auf_ihre_bed_rfnisse_zugeschnitten_ist__ek1 {
	top: 1219px;
	left: 1439px;
	width: 154px;
	height: 114px;
	overflow: hidden;
	font-family: Inter;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	color:#000000;
}


#bei_uns_legen_wir_gro_en_wert_auf_eine_z_gige_und_p_nktliche_lieferung_ihrer_bestellungen__wir_verstehen__dass_zeit_ein_wertvolles_gut_ist_und_dass_sie_ihre_produkte_so_schnell_wie_m_glich_erhalten_m_chten__ek1 {
	top: 1221px;
	left: 1628px;
	width: 156px;
	height: 107px;
	overflow: hidden;
	font-family: Inter;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	color:#000000;
}


#image_13_ek1 {
	top: 1136px;
	left: 1646px;
	width: 114px;
	height: 95px;
}



/* Add your custom CSS here */
